<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Style.css Link -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<!-- Materialize Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
		<!--Google Font Links-->
			<!--Font for ToySwap Title-->
  			<link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
          
		<title>ToySwap</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/toyswap.js"></script>
		<script src="/assets/js/home.js"></script>
	</head>
	<body>
		
		{{{ body }}}
	</body>
</html>
=======
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ToySwap</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

	{{{body}}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/home.js"></script>
</body>

</html>
>>>>>>> master
