<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  
  <!--Font for ToySwap-->
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link href="/assets/css/about-us.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red lighten-1">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red lighten-1"><i class="material-icons" title="Home">home</i></a></li>
      <li><a class="btn-floating red lighten-1"><i class="material-icons" title="About Us">grade</i></a></li>
      <li><a class="btn-floating red lighten-1"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating red lighten-1"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h4 id="about-us-title" class="header center white-text text-lighten-2">About Us</h4>
        <div class="col s12 center">
          
          <p id="about-page" class="left-allign white-text text-lighten-2"> At ToySwap we believe you are never too old to play with toys! Yeah, that's right, it's okay to never grow up! ToySwap is a platform on which individuals can feel free to trade or "swap" toys, collectibles, and all other sorts of goodies free of $$$. Trade, haggle, trade some more! Who knows, you might even find kindred spirit along the way!</p>
        </div>
        </div>
    </div>

    <div class="parallax"><img src="#" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 15px, 0px);"></div>
          
       

  </div>
  <h4 class="header center">Meet the Team!</h4>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/img/dv.jpg"><p>Dariell Vasquez</p></a>
    <a class="carousel-item" href="#two!"><img src="assets/img/av.jpg"><p>Alexander Nieves</p></a>
    <a class="carousel-item" href="#three!"><img src="assets/img/yj.png"><p>Yubin Jamora</p></a>
    <a class="carousel-item" href="#four!"><img src="assets/img/cn.jpg"><p>Conor Nolan</p></a>
    
  </div>


  
  

  <footer class="page-footer teal accent-2">
    
    <div class="center footer-copyright deep-purple lighten-1">
      <div class="container" id="footer-toyswap"><a class="white-text" href="https://github.com/full-stack-project-2/full-stack-project-2">ToySwap <img src="img/GitHubLogo.png" alt="GitHub"></a>
      
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/about-us.js"></script>
  <script src="/assets/js/init.js"></script>
  <script src="/assets/js/materialize.js"></script>
  

  

<div class="hiddendiv common"></div><div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

</body>
</html>