<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acct/messages">Messages
                            <span id="msgCnt"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/acct/account">Account</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card" id="resultDiv">
                <div class="bg-primary">
                    <span class="font-weight-bold text-white pl-2">Log</span>
                </div>
                <div class="card-block pl-2"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <button id="clrLog" class="btn btn-danger" data-toggle='tooltip' title='Clear Log'>Clear</button>
        </div>
    </div>
</div>