    <div id="menu-btn" class="fixed-action-btn horizontal click-to-toggle">
        <a class="btn-floating btn-large red lighten-1">
            <i class="material-icons" id="menu" title="Menu">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red lighten-1" href="/home">
                    <i class="material-icons" id="home" title="Home">home</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/about">
                    <i class="material-icons"  title="About Us">grade</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/list">
                    <i class="material-icons" id="products" title="Products">apps</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red lighten-1" href="/login">
                    <i class="material-icons" id="profile" title="Profile">face</i>
                </a>
            </li>
        </ul>
    </div>


<div class="parallax-container">
<!--SVG attempt************************** 
      <svg>
<defs>
<filter id="goo">
  <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
  <feColorMatrix in="blur" result="colormatrix"
        type="matrix"
        values="1 0 0 0 0
                0 1 0 0 0
                0 0 0 0 0
                0 0 0 18 -6" />
  <feBlend in="SourceGraphic" in2="colormatrix">

</filter>
</defs>
</svg>
SVG attempt************************** -->
    <div class="parallax">
        <video autoplay loop id="toyswap-vid">
            <source class ="vid" src="/assets/mov/Toy_train.mp4" type="video/mp4">
        </video>
    </div>

    <h1 id="toyswap-title" class="header center white-text text-lighten-2">ToySwap</h1>
  </div>




  <div class="container">
    <div class="section">
       

        <div class="col s12 center">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">settings</i></h2>
            <h5 class="center">How ToySwap Works</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          </div>
          


          <div class="row">
          <div class="col s12 m6" id="open-buttons">
  <a class="waves-effect waves-light btn modal-trigger red lighten-1" id="register-button" href="/register">Register</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
  <h4>Registration Page</h4>
  <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Register</a>
  </div>
  </div>
          </div>
          <div class="col s12 m6" id="open-buttons">
          <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger red lighten-1" id="login-button" href="/login">Login</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
  <h4>Login Page</h4>
  <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Login</a>
  </div>
  </div>
          </div>
          </div>





        </div>

        </div>
</div>



  
  <div class="parallax-container" id="toy-group">
    <div class="parallax">
        <img src="assets/img/toy-group.jpg">
    </div>
  </div>  

  
       

  
 




    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">

                    <h4>Toy Div? Put each item in it's own card?</h4>
                    
            
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam
                        pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros
                        justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget,
                        bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla
                        imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam
                        eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>

<!--

    <div class="container">
        <h4 class="center">Upload an Item!</h4>
        <div class="row">
            <form class="col s12 create-form" method="POST" action="/toys">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="title" type="text" class="validate" required="" aria-required="true">
                        <label for="title">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="product_condition" name="example" type="text" class="validate" required="" aria-required="true">
                        <label for="condition">Condition</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="availability" name="example" type="number" class="validate" required="" aria-required="true">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="price" name="example" type="number" class="validate" required="" aria-required="true">
                        <label for="price">Retail Price</label>
                    </div>


                    <div class="input-field col s6">
                        <textarea id="description" class="materialize-textarea validate" name="example" type="text" required="" aria-required="true"></textarea>
                        <label for="description">Description</label>
                    </div>

                    <form action="#">
                        <div class="file-field input-field col s6">
                            <div class="btn-floating btn-small waves-effect waves-light deep-purple lighten-1">
                                <i class="material-icons">add</i>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="url" class="file-path validate" required="" aria-required="true" type="text">>
                                <label class="description-label" for="description">Image URL</label>
                            </div>
                        </div>
                    </form>


                </div>

                <div class="row">
                    <div class="input-field col s12 center">
                        <button class="btn waves-effect waves-light deep-purple lighten-1" type="submit" name="action">Submit</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
    
    -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" id="group-div">
                    <h5 class="white-text">Project 2 Group Members</h5>
                    <ul>
                        <a class="white-text" href="https://github.com/Dquez"><li>Dariell Vasquez</li></a>
                        <a class="white-text" href="https://github.com/dogrock2"><li>Alexander Nieves</li></a>
                        <a class="white-text" href="https://github.com/yubinjamora"><li>Yubin Jamora</li></a>
                        <a class="white-text" href="https://github.com/nolanconorj"><li>Conor Nolan</li></a>
                    </ul>

                </div>

                <div class="col l6 s12" id="connect-div">
                    <h5 class="white-text">Connect With Us!</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/dariellvasquez7">LinkedIn - Dariell</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/alexander-nieves-a04b76b1/">LinkedIn - Alex</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/yubin-jamora-410b02b5/">LinkedIn - Yubin</a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.linkedin.com/in/conorjamesnolan/">LinkedIn - Conor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center footer-copyright red lighten-1">
            <div class="container" id="footer-toyswap">
                <a class="white-text" href="https://github.com/full-stack-project-2/full-stack-project-2">ToySwap
                    <img src="assets/img/github.png" alt="GitHub">
                </a>

            </div>
        </div>
    </footer>


    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> --}}
    {{!-- <script src="assets/js/toyswap.js"></script> --}}
    {{!-- <script src="assets/js/init.js"></script> --}}
    {{!-- <script src="assets/js/materialize.js"></script> --}}
    <script src="/assets/js/home.js"></script>
    <div class="hiddendiv common"></div>
    <div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
