
<div class="body-image">
<img src="assets/img/login.jpg" id="image-login" width="1200" height="800">
  <div id="loader-wrapper">
    <div id="loader">

    </div>
      <div class = "loader-section section-left"></div>
      <div class = "loader-section section-right"></div>
  </div>

      <div id="login-page" class="row">

          <div class="col s4 z-depth-4 card panel" id="center-card">
            <form class="login-form">
             <div class="row">
              <div class="input-field col s12 center">
               <img src="assets/img/logotwo.png"  width=100% height=80>
                <p class="center login-form-text" id="text-login" style="font-size: 22px"> ToySwap</p>
              </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12 cetner">
             <i class="mdi-social-person-outline prefix">
              
              </i>
              
              <input id="username" type="text">
              <label for="username" class="center-align">
              Username
              </label>
            </div>
          </div>

            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                

                <input id="password" type="password">
                <label for="password" class="center-align">
                Password
                </label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l12 login-text">
                <input type="checkbox" id="remeber-me">
                  <label for="remeber-me">
                "Remeber me"
                  </label>
                </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <a href="#" class="btn waves-effect waves col s12 red lighten-1">Login</a>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small">
                  <a href="/register">Register Now!</a>
                </p>
              </div>

              <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small">
                  <a href="">Forgot password? </a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
          
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/login.js"></script>