 <div id="nav">
        <div class="navbar-fixed">
            <nav class=" red lighten-1" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ToySwap</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
                        </li>
                        <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                        <li><a href="#">Navbar Link</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col m12 text-center">
            <div>
                <div class="row">
                    <div class="col m6">
                        <div id='imgCont'>
                            <img src="assets/img/pic.jpg" class='viewImg' alt="Img not found.">
                        </div>
                        <div>
                            <div>
                                <i class="material-icons">star</i>
                                <span id="text-one">Add to Watch list</span>
                            </div>
                            <span id="text-two">5 people watching</span>
                        </div>
                    </div>
                    <div class="col m4 text-left">
                        <div class="col m-2">
                            <div class="pl-2 pt-3">
                                <span id="title">My Little Pony Wave 15 Twilight Sparkle Blind Bag</span>
                            </div>
                            <hr>
                            <div class="m-3">
                                <!-- Modal -->
                                <div id="myModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <p>Some text in the Modal..</p>
                                        <div>
                                            <button class="btn btn-success" id='modalOfferBtn'>Offer</button>
                                            <button class="btn btn-danger" id='modalCancelBtn'>Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- ******** -->
                                
                                <div class="d-inline-block ml-2">
                                    <div class="text-right">Item Condition:</div>
                                    <div class="text-right">Additional Info:</div>
                                    <div class="text-right">Available:</div>
                                    <div class="text-right">Suggested Retail Price:</div>
                                </div>
                                <div class="d-inline-block">
                                    <div class="text-left ml-2">New</div>
                                    <div class="text-left ml-2">in bag - opened</div>
                                    <div class="text-left ml-2">3</div>
                                    <div class="text-left ml-2">
                                        <span>$</span>
                                        <span>4.99</span>
                                    </div>
                                </div>
                            </div>
                            <div id="dataContBot" class="pr-3">
                                <div class="ml-3 mt-2">
                                    <div class="pt-2 font-weight-bold">Owner Contact Information:</div>
                                    <hr>
                                    <div class="d-inline-block">
                                        <div class="text-right">Name:</div>
                                        <div class="text-right">City, State:</div>
                                        <div class="text-right">Email:</div>
                                    </div>
                                    <div class="d-inline-block mb-3">
                                        <div class="text-left ml-2">John Doe</div>
                                        <div class="text-left ml-2">Newark, NJ</div>
                                        <div class="text-left ml-2">johndoe@gmail.com</div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row pb-2">
                                            <div class="col-md-6">
                                                <button class="my-1 btn btn-success" id="tradeBtn">Offer Trade</button>
                                                <button class="my-1 btn btn-info" data-toggle='tooltip' title='Not Available for chat.' data-placement="top" id="chatBtn">Chat</button>
                                            </div>
                                            <div class="col m-6">
                                                <a href="#">
                                                        <img src="assets/img/questionIcon.png" id="qIcon" alt="Img not found." class="mt-2">
                                                        <span>Ask a Question</span>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col m6 text-center">
                <fieldset>
                    <legend id="idLegend">Description/Additional Info</legend>
                    <p>Get the twilight sparkle mini-pony with this Surprise Bag! Each bag tipically includes 1 mini-pony and there are 24 for for the collection (each sold separately). Will you get Neon Lights? Cloud Chaser? Ruby Splash? Or will you get a duplicate? Why risk it! Want to collect them all? Add Twilight sparkle to your collection now. My Little Pony and all related characters are trademarks of Hasbro. </p>
                </fieldset>
            </div>
            <div class="col m6 text-center">
                <div id='chatDiv' class="m3 m1">
                    <div id="topDiv">
                        <div id="msgDiv" class="m4 m3 p1 m1 text-left"></div>
                    </div>
                    <div id="bottDiv"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer teal lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">ToySwap</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">ToySwap</a>
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <div class="hiddendiv common"></div>
    <div class="drag-target" data-sidenav="nav-mobile" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>