<div class="row mb-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 my-3">
        <header class="input-group">
            <span class="text-white bg-info p-2 rounded-left">Search</span>
            <input type="text" class="form-control" placeholder="keyword" id="searchBox">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="searchBtn">
                    <img id="sIcon" src="assets/img/searchIcon.png" alt="Img not found.">
                </button>
            </span>
        </header>
    </div>
    <div class="col-md-2">
        <div class="d-flex align-items-end align-self-stretch flex-row-reverse" id="loginDiv">
            <a href="*">Login</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div id='imgCont'>
                        <img src="assets/img/pic.jpg" class='viewImg' alt="Img not found.">
                    </div>
                    <div>
                        <div>
                            <img src="assets/img/starOff.png" id="starIcon" alt="Img not found" class="mb-2">
                            <span id='wList' class="pl-2">Add to Watch list.</span>
                        </div>
                        <span>5 </span>
                        <span>people watching.</span>
                    </div>
                </div>
                <div class="col-md-6 text-left">
                    <div class="ml-2">
                        <div class="pl-2 pt-3">
                            <span id="title">My Little Pony Wave 15 Twilight Sparkle Blind Bag</span>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <!-- Modal -->
                            <div id="myModal" class="modal">                                
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>Some text in the Modal..</p>
                                    <div>
                                    <button class="btn btn-success" id='modalOfferBtn'>Offer</button>
                                    <button class="btn btn-danger" id='modalCancelBtn'>Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!-- ******** -->
                            <div class="d-inline-block ml-2">
                                <div class="text-right">Item Condition:</div>
                                <div class="text-right">Available:</div>
                                <div class="text-right">Suggested Retail Price:</div>
                            </div>
                            <div class="d-inline-block">
                                <div class="text-left ml-2">New ( opened package )</div>
                                <div class="text-left ml-2">3</div>
                                <div class="text-left ml-2">
                                    <span>$</span>
                                    <span>4.99</span>
                                </div>
                            </div>
                        </div>
                        <div id="dataContBot" class="pr-3">
                            <div class="ml-3 mt-2">
                                <div class="pt-2 font-weight-bold">Owner Contact Information:</div>
                                <hr>
                                <div class="d-inline-block">
                                    <div class="text-right">Name:</div>
                                    <div class="text-right">City, State:</div>
                                    <div class="text-right">Email:</div>
                                </div>
                                <div class="d-inline-block mb-3">
                                    <div class="text-left ml-2">John Doe</div>
                                    <div class="text-left ml-2">Newark, NJ</div>
                                    <div class="text-left ml-2">johndoe@gmail.com</div>
                                </div>
                                <div class="mb-3">
                                    <div class="row pb-2">
                                        <div class="col-md-6">
                                            <button class="my-1 btn btn-success" id="tradeBtn">Offer Trade</button>
                                            <button class="my-1 btn btn-info" data-toggle='tooltip' title='Not Available for chat.' data-placement="top" id="chatBtn">Chat</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#">
                                                <img src="assets/img/questionIcon.png" id="qIcon" alt="Img not found." class="mt-2">
                                                <span>Ask a Question</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 text-center">
            <fieldset>
                <legend id="idLegend">Description/Additional Info</legend>
                <p>Get the twilight sparkle mini-pony with this Surprise Bag! Each bag tipically includes 1 mini-pony and there
                    are 24 for for the collection (each sold separately). Will you get Neon Lights? Cloud Chaser? Ruby Splash?
                    Or will you get a duplicate? Why risk it! Want to collect them all? Add Twilight sparkle to your collection
                    now. My Little Pony and all related characters are trademarks of Hasbro. </p>
            </fieldset>
        </div>
        <div id='chatDiv' class="mb-3 ml-1">
            <div id="topDiv">
                <div id="msgDiv" class="mr-4 ml-3 pl-1 mt-1 text-left"></div>
            </div>
            <div id="bottDiv"></div>
        </div>
    </div>
</div>
</div>